.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    &__box {
        background: rgba($dialog-bg-color, 0.85);
        border-radius: 0.3rem;
        padding: $large-size $medium-size;
        text-align: center;
        width: 25rem;
    }

    &__title {
        line-height: 1;
        margin: 0 0 $medium-size 0;
    }
}
