.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $medium-size;
    }

    &__error {
        color: $error-fg-color;
        margin: 0 0 $medium-size 0;
        font-style: italic;
    }
}