.list-header {
    background-color: $page-header-bg-color;
    border: 1px solid darken($page-header-bg-color, 7%);
    color: $grey-6;
    display: flex;
    justify-content: space-between;
    padding: $small-size $medium-size;
}

.list-body {
    margin-bottom: $large-size;

    @media (max-width: $desktop-breakpoint) {
        margin-bottom: $medium-size;
    }
}

.list-item {
    align-items: center;
    border: 1px solid darken($page-header-bg-color, 7%);
    border-top: none;
    color: $grey-3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $medium-size;
    text-decoration: none;
    transition: background-color .3s ease;

    &:hover {
        background-color: $page-header-bg-color;
    }

    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
        padding: $small-size;
    }

    &__title {
        margin: 0;
        word-break: break-all;
    }

    &__sub-title {
        color: $grey-6;
        font-size: $font-size-small;
    }

    &__data {
        margin: 0;
        padding-left: $small-size;

        @media (max-width: $desktop-breakpoint) {
            margin: $small-size 0 0 0;
            padding: 0;
        }
    }

    &--message {
        align-items: center;
        color: $grey-6;
        justify-content: center;
        padding: $medium-size;

        &:hover {
            background-color: transparent;
        }
    }
}
