// Colors
$error-border-color: #bb0000;
$error-fg-color: #bb0000;
$dark-grey: #333333;
$dialog-bg-color: #ffffff;
$button-bg-color: #1c88bf;
$button-fg-color: #ffffff;
$header-bg-color: #364051;
$header-fg-color: #ffffff;
$page-header-bg-color: #f7f7f7;


// Fonts
$font-size-large: 1.8rem;
$font-weight-medium: 300;
$font-weight-bold: 700;

// Spacing
$extra-large-size: 4.8rem;
$large-size: 3.2rem;
$medium-size: 1.6rem;
$small-size: 1.2rem;

$desktop-breakpoint: 45rem;
